In [4]:
import pandas as pd

In [10]:

# 1. Create a DataFrame for the Citibike data.
file_to_read = pd.read_csv('/content/201306-citibike-tripdata.csv')
citi_df = file_to_read

In [12]:
# 2 Display dataset insights
citi_df.info() # field types
citi_df.isna().sum() # total number of blank values per field

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564168 entries, 0 to 564167
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             564168 non-null  int64
 1   starttime                564168 non-null  object
 2   stoptime                 564168 non-null  object
 3   start station id         564168 non-null  int64
 4   start station name       564168 non-null  object
 5   start station latitude   564168 non-null  float64
 6   start station longitude  564168 non-null  float64
 7   end station id           546498 non-null  float64
 8   end station name         546498 non-null  object
 9   end station latitude     546498 non-null  float64
 10  end station longitude    546498 non-null  float64
 11  bikeid                   564168 non-null  int64
 12  usertype                 564168 non-null  object
 13  birth year               329370 non-null  float64
 14  gender                   564168 non-null  int64
dtypes: float64(6), int64(4), object(5)
memory usage: 64.6+ MB

tripduration                    0
starttime                       0
stoptime                        0
start station id                0
start station name              0
start station latitude          0
start station longitude         0
end station id              17670
end station name            17670
end station latitude        17670
end station longitude       17670
bikeid                          0
usertype                        0
birth year                 234798
gender                          0
dtype: int64

In [14]:
# 3 Display the current DataFrame
citi_df.head() # tripduration is displayed in seconds

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [17]:
# 4. Convert the 'tripduration' column to minutes
citi_df['tripduration'] = citi_df['tripduration'] / 60
citi_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0.193056,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,0.192500,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,0.571944,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,0.034167,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,0.422500,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1

In [19]:
# 5. Export the Dataframe as a new CSV file without the index.
citi_df.to_csv('/content/201306-citibike_cleaned-tripdata.csv')
print("CitiBike CSV Exported Successfully")

CitiBike CSV Exported Successfully